<div id="<%= dom_id daily_sale %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= daily_sale.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= daily_sale.product_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quantity sold:</strong>
    <%= daily_sale.quantity_sold %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Remaining quantity:</strong>
    <%= daily_sale.remaining_quantity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total profit:</strong>
    <%= daily_sale.total_profit %>
  </div>
</div>
