<%= form_with(model: daily_sale, class: "contents") do |form| %>
  <% if daily_sale.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(daily_sale.errors.count, "error") %> prohibited this daily_sale from being saved:</h2>

      <ul class="list-disc ml-6">
        <% daily_sale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.date_field :date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": daily_sale.errors[:date].none?, "border-red-400 focus:outline-red-600": daily_sale.errors[:date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": daily_sale.errors[:product_id].none?, "border-red-400 focus:outline-red-600": daily_sale.errors[:product_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :quantity_sold %>
    <%= form.number_field :quantity_sold, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": daily_sale.errors[:quantity_sold].none?, "border-red-400 focus:outline-red-600": daily_sale.errors[:quantity_sold].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :remaining_quantity %>
    <%= form.number_field :remaining_quantity, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": daily_sale.errors[:remaining_quantity].none?, "border-red-400 focus:outline-red-600": daily_sale.errors[:remaining_quantity].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :total_profit %>
    <%= form.text_field :total_profit, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": daily_sale.errors[:total_profit].none?, "border-red-400 focus:outline-red-600": daily_sale.errors[:total_profit].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
