<% if user_signed_in? %>
<nav class="bg-red-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex items-center align-items-center gap-2">
          <div>
            <%= image_tag "nita_logo.png", alt: "Nita Nation Logo", class: "h-8 w-8" %>
          </div>
            <div class="text-white font-bold text-xl">
              Nita Nation
            </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <%= link_to "Dashboard", current_user.admin? ? admin_dashboard_path : seller_dashboard_path, class: "text-white hover:bg-red-700 px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to "Products", products_path, class: "text-white hover:bg-red-700 px-3 py-2 rounded-md text-sm font-medium" %>
            <% if current_user.admin? %>
              <%= link_to "Categories", categories_path, class: "text-white hover:bg-red-700 px-3 py-2 rounded-md text-sm font-medium" %>
              <%= link_to "Users", admin_users_path, class: "text-white hover:bg-red-700 px-3 py-2 rounded-md text-sm font-medium" %>
            <% end %>
            <%= link_to "Daily Sales", daily_sales_path, class: "text-white hover:bg-red-700 px-3 py-2 rounded-md text-sm font-medium" %>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <div class="ml-3 relative">
            <div>
              <button type="button" class="max-w-xs bg-red-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-800 focus:ring-white" id="user-menu" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <span class="text-white px-3 py-2 rounded-md text-sm font-medium"><%= current_user.email %></span>
              </button>
            </div>
          </div>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "block w-full text-left px-4 py-2 text-yellow-300 hover:cursor-pointer hover:bg-red-700 hover:text-yellow-100 transition duration-200" %>
        </div>
      </div>
    </div>
  </div>
</nav>
<% end %>