<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Nita" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar2" %>
    <main>
      <%= yield %>
    </main>

    <% if notice %>
      <div class="fixed bottom-4 right-4 bg-green-500 text-white px-4 py-2 rounded shadow-lg">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="fixed bottom-4 right-4 bg-red-500 text-white px-4 py-2 rounded shadow-lg">
        <%= alert %>
      </div>
    <% end %>
  </body>
</html>
